<h1>Create a new link</h1>

<form action='/confirm' method='post'>
  <label for="url">
    URL:
    <input type='text' name='url'>
  </label>

  <label for='title'>
    Title:
    <input type='text' name='title'>
  </label>

  <label for='tag' >
    Tag:
    <input type='text' name='tag' >
  </label>

  <input type='submit' value='Submit'>
</form>
